body {
    overflow: hidden;
}
$msgBorder: solid 2px;
$msgTop: 420px;
$message-position: 445;
$white : #FFF;
#m {position: fixed; left: 445px; top: $msgTop; border: $msgBorder;}
#n {position: fixed; left: 615px; top: $msgTop; border: $msgBorder;}
#messages {list-style-type: none; margin: 0; padding: 0; overflow: scroll; height: 430px;
    li {padding: 5px 10px; }
    li:nth-child(odd) { background-color: #AAA; }
}
button, input {
    font-family: rubik, sans-serif;
    font-size: 19px;
    background-color: #3FC;
    border-radius: 3px;
    border-color: $white;
}
@mixin the-scale ($scale){
    -webkit-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
}
.player { position: absolute; @include the-scale(0.85) }
@font-face {
    font-family: rubik;
    src: url('/assets/fonts/rubik/Rubik-Medium.ttf');
}
#blockage //this is the item that blocks the entry screen
{
    padding: 200px; position: fixed; left: 0; top: 0;
}
#skip {
    position: absolute; left: 150px;
}
#skip2 {
    position: fixed;
    top: 450px;
    left: 0px;
}
#drawingButton {
    position: fixed;
    top: 470px;
    left: 50px;
}
#girlPushArms, #girlPushBody, #girlBody, #girlArms {
    position: absolute; left: 153px; top: 0; visibility: hidden;
}
#menuSuggestions {
    z-index: 801;
    width: 150px;
    padding-left: 20px;
    font-family: rubik, sans-serif;
    font-size: 19px;
    position: fixed; top: -10px; left: 126px;
}
#speech, #menuSuggestions {
    visibility: hidden;
}
#speech {
    z-index: 800;
    position: fixed; top: 0px; left: 70px;
}
#form {background: $white; border: solid 3px; padding: 4px; position: fixed;
    top: 0px; left: 445px; width: 250px; height: 430px; opacity: 0.8; }