html {
  display: table;
  margin: auto; }

body {
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  background-color: #FFBB22; }

#drawingboard {
  width: 600px;
  height: 600px; }

#m {
  position: fixed;
  left: 445px;
  top: 420px;
  border: solid 2px; }

#n {
  position: fixed;
  left: 615px;
  top: 420px;
  border: solid 2px; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll;
  height: 430px; }
  #messages li {
    padding: 5px 10px; }
  #messages li:nth-child(odd) {
    background-color: #AAA; }

button, input, #skip {
  font-family: rubik, sans-serif;
  font-size: 19px;
  background-color: #3FC;
  border-radius: 3px;
  border-color: #FFF; }

button:focus, input:focus {
  background-color: #00c040; }

#buttons {
  position: fixed;
  top: 458px;
  left: 150px; }

#back {
  left: 620px;
  position: fixed; }
  #back #next {
    left: 680px; }

#itemPreview {
  vertical-align: text-top;
  width: 50%;
  padding: 4px;
  border-width: 5px;
  border-style: solid;
  position: relative;
  padding-left: 20px;
  height: 420px; }

.player {
  position: absolute;
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85); }

@font-face {
  font-family: rubik;
  src: url("/assets/fonts/rubik/Rubik-Medium.ttf"); }

#blockage {
  padding: 200px;
  position: fixed;
  left: 0;
  top: 0; }

#avatarOptions {
  position: relative;
  float: left; }

#avatarOptions {
  height: 450px; }

.eyes {
  position: relative;
  margin-top: -310px; }

#chooseSkin {
  top: 360px; }

#relativeContainer button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent; }

div.colorPicker-picker {
  height: 16px;
  width: 16px;
  padding: 0 !important;
  border: 1px solid #ccc;
  background: url(../arrow.gif) no-repeat top right;
  cursor: pointer;
  line-height: 16px;
  font-size: 0.75em;
  font-weight: bold;
  text-align: center; }

div.colorPicker-palette {
  width: 110px;
  position: absolute;
  border: 1px solid #598FEF;
  background-color: #EFEFEF;
  padding: 2px;
  z-index: 9999; }

div.colorPicker_hexWrap {
  width: 100%;
  float: left; }

div.colorPicker_hexWrap label {
  font-size: 95%;
  color: #2F2F2F;
  margin: 5px 2px;
  width: 25%; }

div.colorPicker_hexWrap input {
  margin: 5px 2px;
  padding: 0;
  font-size: 95%;
  border: 1px solid #000;
  width: 65%; }

div.colorPicker-swatch {
  height: 12px;
  width: 12px;
  border: 1px solid #000;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px; }

#skip {
  position: absolute;
  left: 150px; }

#skip2 {
  position: fixed;
  top: 450px;
  left: 0px; }

#drawingButton {
  position: fixed;
  top: 470px;
  left: 50px; }

#girlPushArms, #girlPushBody, #girlBody, #girlArms {
  position: absolute;
  left: 153px;
  top: 0;
  visibility: hidden; }

#menuSuggestions {
  z-index: 801;
  width: 150px;
  padding-left: 20px;
  font-family: rubik, sans-serif;
  font-size: 19px;
  position: fixed;
  top: -10px;
  left: 126px; }

#speech, #menuSuggestions {
  visibility: hidden; }

#speech {
  z-index: 800;
  position: fixed;
  top: 0px;
  left: 70px; }

#form {
  background: #FFF;
  border: solid 3px;
  padding: 4px;
  position: fixed;
  top: 0px;
  left: 445px;
  width: 250px;
  height: 430px;
  opacity: 0.8; }
